# Config file for r0s (Galaxy S22)
# This is merged with s5e9925_defconfig on build

CONFIG_MODEL_R0S=y
CONFIG_TCP_CONG_ADVANCED=y
CONFIG_TCP_CONG_BIC=y
CONFIG_TCP_CONG_CUBIC=y
CONFIG_TCP_CONG_WESTWOOD=m
CONFIG_TCP_CONG_HTCP=m
CONFIG_DEFAULT_BIC=y
CONFIG_DEFAULT_TCP_CONG="bic"
CONFIG_QRTR=m
CONFIG_QRTR_NODE_ID=1
CONFIG_QRTR_WAKEUP_MS=0
CONFIG_QRTR_MHI=m
CONFIG_MSM_BT_POWER=m
CONFIG_NL80211_TESTMODE=y
CONFIG_MHI_BUS=m
CONFIG_MHI_BUS_MISC=y
CONFIG_MHI_BUS_DEBUG=y
CONFIG_USB_NET_AX8817X=m
CONFIG_USB_NET_AX88179_178A=m
CONFIG_CLD_LL_CORE=y
CONFIG_CNSS2=m
CONFIG_CNSS2_QMI=y
CONFIG_BUS_AUTO_SUSPEND=y
CONFIG_CNSS_QCA6490=y
CONFIG_SEC_SS_CNSS_FEATURE_SYSFS=y
CONFIG_CNSS_UTILS=m
CONFIG_CNSS_QMI_SVC=m
CONFIG_CNSS_PLAT_IPC_QMI_SVC=m
CONFIG_CNSS_GENL=m
CONFIG_WCNSS_MEM_PRE_ALLOC=m
CONFIG_QCA_CLD_WLAN=m
CONFIG_R0S_WIRELESS=y
CONFIG_DEBUG_GPIO_SETTING=y
# CONFIG_MFD_TI_AM335X_TSCADC is not set
CONFIG_CAMERA_RSV_V01=y
CONFIG_CAMERA_CIS_3J1_OBJ=m
CONFIG_CAMERA_CIS_2LA_OBJ=m
CONFIG_CAMERA_CIS_2LD_OBJ=m
CONFIG_CAMERA_CIS_IMX374_OBJ=m
CONFIG_CAMERA_CIS_3K1_OBJ=m
CONFIG_QCOM_QMI_HELPERS=m
CONFIG_EXYNOS_DECON_LCD_S6E3FAC=m
CONFIG_CHARGER_PCA9481=m
CONFIG_MAX77705_USE_EXTRA_FW=y
CONFIG_IPC_LOGGING=m
CONFIG_IPC_LOG_MINIDUMP_BUFFERS=0
CONFIG_GENERIC_TRACER=y
# CONFIG_SAMSUNG_UWB is not set
# CONFIG_UWB_SR100 is not set
# CONFIG_SEC_UWB_LOGGER is not set
# CONFIG_BCM_DHD_WLAN is not set
